a.jenkins-home-link {
    background: url("//phiamo.github.io/images/farmap_big.png") 0 0 no-repeat;
    display: block;
    width: 40px;
    height: 40px;

a.jenkins-home-link img {
      display: none; }
